<?xml version="1.0" encoding="UTF-8"?>
<launch>
    <arg name="manager_name" default="nodelet_manager" />
    <arg name="nodelet_mode" default="standalone" /><!-- set to standalone if you want to use as node-->

    <!-- Nodelet Manager -->
    <group if="$(eval nodelet_mode=='load')">
    <node pkg="nodelet" type="nodelet" name="$(arg manager_name)" args="manager" output="screen"/>
    </group>

    <!-- Arduino -->
    <node pkg="nodelet" type="nodelet" name="arduino_bridge"
    args="$(arg nodelet_mode) can_plugins/ArduinoBridge $(arg manager_name)" output="screen"/>

    <!-- SLCAN to Arduino Converter -->
    <node pkg="nodelet" type="nodelet" name="slcan_arduino_converter"
    args="$(arg nodelet_mode) can_plugins/SlcanArduinoConverter $(arg manager_name)" output="screen"/>

</launch>